/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family:'Roboto-Bold';
    src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

/* Variables */
:root {
    /* Fonts */
    --roboto-bold: 'Roboto-Bold', sans-serif;
    --roboto-regular: 'Roboto-Regular', sans-serif;
  
    /* Colors */
    /* Primary */
    --tomato: hsl(4, 100%, 67%);

    /* Neutral */
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

/* General */
body {
    background-color: var(--dark-slate-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-up-form-container {
    background-color: var(--white);
    width: 58rem;
    height: 40.0625rem;
    border-radius: 2.25rem;
    display: flex;
    justify-content: flex-end;
    padding: 1.25rem;
    margin-bottom: .625rem;
}

.desktop-sign-up-illustration {
    display: block;
}

.mobile-sign-up-illustration {
    display: none;
}

.success-message-container {
    display: none;
    background-color: var(--white);
    width: 31.5rem;
    height: 32.5rem;
    border-radius: 2.25rem;
    padding: 4rem;
    margin-bottom: .625rem;
}

.success-message-container p {
    margin-bottom: 2.5rem;
}

.success-message-container button {
    width: 23.5rem;
    height: 3.5rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.success-icon {
    margin-bottom: 2.5rem;
}

h1 {
    font-family: var(--roboto-bold);
    color: var(--dark-slate-grey);
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

p, ul, li, input {
    font-family: var(--roboto-regular);
    color: var(--dark-slate-grey);
    font-size: 1rem;
}

.left-side {
    padding: 6.125rem 4rem;
}

.description {
    margin-bottom: 1.5rem;
}

label {
    font-family: var(--roboto-bold);
    color: var(--dark-slate-grey);
    font-size: .75rem;
    margin-bottom: .5rem;
}

input {
    width: 23.5rem;
    height: 3.5rem;
    padding: 1.25rem;
    border: .0625rem solid var(--grey);
    margin-bottom: 1.5rem;
    border-radius: .5rem;
}

input:focus {
    border: .0625rem solid var(--dark-slate-grey);
}

input:focus::-webkit-input-placeholder {
    color: var(--dark-slate-grey);
}

.error-text {
    display: none;
    color: var(--tomato);
    font-family: var(--roboto-bold);
    font-size: .75rem;
}

.error-text-placeholder-color::-webkit-input-placeholder {
    color: var(--tomato);
 }

.label-and-error-text {
    display: flex;
    justify-content: space-between;
}

button {
    font-family: var(--roboto-bold);
    color: var(--white);
    background-color: var(--dark-slate-grey);
    width: 23.5rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(rgba(255, 106, 58, 1), rgba(255, 82, 123, 1));
    box-shadow: 0rem 1rem 2rem rgba(255, 97, 85, .5);
}

form button {
    padding: 1rem 4.0625rem;
    border-radius: .5rem;
    font-family: var(--roboto-bold);
    font-size: 1rem;
}

.user-email {
    font-family: var(--roboto-bold);
}

ul li {
    list-style-image: url("./assets/images/icon-list.svg");
    list-style-position: inside;
    margin-bottom: .5rem;
}

ul li::before {
    content: '';
    margin-right: .5rem;
}

ul {
    margin-bottom: 2rem;
}

/* Responsiveness */
@media screen and (max-width: 37.5rem) {
    .desktop-right-side {
        display: none;
    }

    .sign-up-form-container {
        width: 23.4375rem;
        height: 58.5rem;
        border-radius: 0;
        padding: 0;
        justify-content: flex-start;
    }

    .mobile-sign-up-illustration {
        display: block;
        margin-top: 7.5rem;
        width: 100%;
    }

    .left-side {
        width: 23.4375rem;
        height: 57.5rem;
        padding: 0;
    }

    .form-container {
        padding: 2.5rem 1.5rem;
    }

    .success-message-container {
        width: 23.4375rem;
        height: 58.5rem;
        border-radius: 0;
        padding: 17.31rem 1.5rem 2.5rem 1.5rem;
    }

    .success-message-container button {
        width: 20.4375rem;
        height: 3.5rem;
        font-size: 1rem;
        border-radius: .5rem;
    }

    .success-message-container p {
        margin-bottom: 16.4375rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    ul li {
        list-style-position: outside;
    }

    ul li::before {
        margin-right: 0;
    }

    ul {
        padding: 0 2rem;
        margin-bottom: 2.5rem;
    }

    input {
        width: 20.4375rem;
    }

    button {
        width: 20.4375rem;
        padding: 1.125rem 3rem;
    }

    form button {
        padding: 1.125rem 2.875rem;
        border-radius: .5rem;
        margin-bottom: 2.5rem;
    }
}

/* Attribution */
.attribution { 
    font-size: .6875rem; 
    text-align: center; 
    color: var(--white);
    font-family: var(--roboto-regular);
    margin-bottom: 1.25rem;
}

.attribution a { 
    color: var(--tomato); 
    font-family: var(--roboto-bold);
}